In [1]:
import pandas as pd

usage = pd.read_csv("../data/raw/usage_reports.csv")
rates = pd.read_csv("../data/raw/royalty_rates.csv")
payments = pd.read_csv("../data/raw/payments.csv")

print("USAGE")
display(usage.head())
usage.info()

print("\nRATES")
display(rates.head())
rates.info()

print("\nPAYMENTS")
display(payments.head())
payments.info()

USAGE

,usage_report_id,report_month,platform,territory,track_id,isrc,track_title,artist_id,artist_name,release_date,stream_type,streams,unique_listeners,avg_stream_seconds,reported_currency
0,UR000000,2025-10,YouTube Music,AU,19123,ISRC7423388,Track A,1336,Artist Y,2023-04-27,ad_supported,-301,388,192.500015,AUD
1,UR000001,2025-06,Amazon Music,CA,18495,ISRC7550634,Track C,1049,Artist X,2024-07-26,free,1157,412,217.516175,CAD
2,UR000002,2025-05,Spotify,AU,18897,ISRC5304572,Track B,1318,Artist Y,2021-03-20,ad_supported,1221,377,188.154297,AUD
3,UR000003,2024-01,Amazon Music,GB,14427,NaN,Track B,1798,Artist Y,2018-11-08,premium,1138,381,146.503221,GBP
4,UR000004,2025-01,Apple Music,US,15255,ISRC8204212,Track C,1779,Artist X,2021-05-01,premium,-267,403,193.748598,USD

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   usage_report_id     100000 non-null  object
 1   report_month        100000 non-null  object
 2   platform            100000 non-null  object
 3   territory           100000 non-null  object
 4   track_id            100000 non-null  int64
 5   isrc                94946 non-null   object
 6   track_title         100000 non-null  object
 7   artist_id           100000 non-null  int64
 8   artist_name         100000 non-null  object
 9   release_date        100000 non-null  object
 10  stream_type         100000 non-null  object
 11  streams             100000 non-null  int64
 12  unique_listeners    100000 non-null  int64
 13  avg_stream_seconds  100000 non-null  float64
 14  reported_currency   100000 non-null  object
dtypes: float64(1), int64(4), object(10)
memory usage: 11.4+ MB

RATES

,platform,stream_type,territory,currency,rate_per_stream,effective_start,effective_end,notes
0,Spotify,free,US,USD,0.00270,2023-01-01,NaN,NaN
1,Spotify,free,GB,GBP,0.00453,2023-01-01,NaN,NaN
2,Spotify,free,DE,EUR,0.00204,2023-01-01,NaN,NaN
3,Spotify,free,FR,EUR,0.00419,2023-01-01,NaN,NaN
4,Spotify,free,CA,CAD,0.00539,2023-01-01,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   platform         72 non-null     object
 1   stream_type      72 non-null     object
 2   territory        72 non-null     object
 3   currency         72 non-null     object
 4   rate_per_stream  72 non-null     float64
 5   effective_start  72 non-null     object
 6   effective_end    0 non-null      float64
 7   notes            0 non-null      float64
dtypes: float64(3), object(5)
memory usage: 4.6+ KB

PAYMENTS

,payment_id,usage_report_id,payment_date,payment_month,gross_royalty,fees,withholding_tax,fx_rate_to_gbp,net_paid_gbp,payment_status,payment_notes
0,PMT000000,UR075721,2024-07-01,2024-07,1.563135,0.335606,0.004739,0.925169,1.131287,paid,NaN
1,PMT000001,UR080184,2025-12-26,2025-12,1.534237,0.329401,0.004652,1.088606,1.306527,reversed,NaN
2,PMT000002,UR019864,2025-08-25,2025-08,1.614364,0.346605,0.004895,1.185618,1.497275,pending,NaN
3,PMT000003,UR076699,2024-04-21,2024-04,1.640635,0.352245,0.004974,0.793229,1.018042,reversed,NaN
4,PMT000004,UR092991,2024-11-19,2024-11,0.445296,0.095605,0.001350,1.156225,0.402761,paid,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90000 entries, 0 to 89999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   payment_id       90000 non-null  object
 1   usage_report_id  90000 non-null  object
 2   payment_date     90000 non-null  object
 3   payment_month    90000 non-null  object
 4   gross_royalty    90000 non-null  float64
 5   fees             90000 non-null  float64
 6   withholding_tax  90000 non-null  float64
 7   fx_rate_to_gbp   90000 non-null  float64
 8   net_paid_gbp     90000 non-null  float64
 9   payment_status   90000 non-null  object
 10  payment_notes    0 non-null      float64
dtypes: float64(6), object(5)
memory usage: 7.6+ MB

In [2]:
# Data quality checks

print("DATA QUALITY CHECKS")
print("Missing ISRCs:", usage["isrc"].isna().sum())
print("Negative or zero streams:", (usage["streams"] <= 0).sum())
print("Duplicate usage_report_id:", usage["usage_report_id"].duplicated().sum())

DATA QUALITY CHECKS
Missing ISRCs: 5054
Negative or zero streams: 20708
Duplicate usage_report_id: 0

In [3]:
# Audit-critical check: payment completeness

usage_paid = usage.merge(
    payments[["usage_report_id", "payment_status"]],
    on="usage_report_id",
    how="left"
)

unpaid_count = usage_paid["payment_status"].isna().sum()
unpaid_rate = unpaid_count / len(usage_paid)

print("USAGE ROWS WITH NO MATCHING PAYMENT:", unpaid_count)
print("UNPAID RATE (%):", round(unpaid_rate * 100, 2))

print("\nPAYMENT STATUS DISTRIBUTION (INCLUDING MISSING):")
print(
    usage_paid["payment_status"]
    .fillna("missing")
    .value_counts(normalize=True)
    .mul(100)
    .round(2)
)

USAGE ROWS WITH NO MATCHING PAYMENT: 10000
UNPAID RATE (%): 10.0

PAYMENT STATUS DISTRIBUTION (INCLUDING MISSING):
payment_status
paid        67.34
missing     10.00
pending      9.09
reversed     9.01
held         4.56
Name: proportion, dtype: float64